@import "tailwindcss";

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dff5ed; 
}
 /* Handle */
::-webkit-scrollbar-thumb {
  background: #00C982; 
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

/* Swiper styles  */

#app {
      height: 100%;
    }
    html,
    body {
      position: relative;
      height: 100%;
    }
    
    body {
     
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }
    
    .swiper {
      width: 100%;
      height: 100%;
    }
    
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
    
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    #img-div-details-page  img{
       object-fit: contain ;
       height: fit-content !important ;
      
    }